body{
  width:500px;
  margin:auto;
  background-color:grey;
}
h1{
    font-family:serif;
    font-size:35pt;
    font-style:italic;
    color:white;
    padding-top:10px;
    padding-left:80px
}
h2{
  font-family:serif;
  font-size:35pt;
  font-style:italic;
  color:white;


}
h3{
  font-family:serif;
  font-size:35pt;
  font-style:italic;
  color:white;
}
h4{
  font-family:serif;
  font-size:35pt;
  font-style:italic;
  color:white;
}
a{
  font-size: 35pt;
  color:#F00;
  background-color: white;
}